*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
/*post*/
:root{
  --colorOfFriendZone: #0866ff;
  --backgroundBody: #e4e6eb;
  --backgroundBox: #ffffff;
  --borderInput: #ced0d4;
  --continueGoogle: #42b72a;
  --buttonHover: #1877f2;
  --backgroundSearch: #f0f2f5;
  --colorImage: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
}
body{
    background-color: var(--backgroundSearch) !important;
}

/*header*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundBox);
    height: 60px;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
    position: fixed;
    z-index: 106;
}

.header .left{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

body > div > div.left > div{
    position: relative;
}

body > div > div.left > div input{
    background-color: var(--backgroundSearch);
    border: none;
    height: 45px;
    width: 300px;
    font-size: 16px;
    padding-left: 40px;
    border-radius: 50px;
    outline: none;
}

body > div > div.left > div i{
    position: absolute;
    top: 15px;
    left: 15px;
}

#imgLogo{
    height: 45px;
}

body > div > div.right{
    display: flex;
    align-items: center;
    gap: 10px;
}

body > div > div.right i{
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #e4e6eb;
    cursor: pointer;
}

#imgUser{
    height: 40px;
    border-radius: 50%;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}

body > div.header > div.left > p{
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    color: var(--buttonHover);
}
/*header*/

body .divMain{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

body .divMain .div1Post{
    width: 60vw;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

}

body .divMain .div1Post p{
    margin: 0;
    width: 100%;
}

body .divMain .div1Post{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
    flex-wrap: wrap;
    padding-left: calc(5% - 23px);
    padding-top: 30px;
}

body .divMain .div1Post .pFile{
    font-weight: 600;
    padding: 5px 20px;
    background-color: #ced0d4;
    width: fit-content;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
}

body .divMain .div1Post .pSeePost{
    background-color: #0866ff;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 5px 5px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    width: 90%;
    left: 5%;
}



