*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.divAll{
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundBody);
}
:root{
    --colorOfFriendZone: #0866ff;
    --backgroundBody: #f0f2f5;
    --backgroundBox: #ffffff;
    --borderInput: #ced0d4;
    --continueGoogle: #42b72a;
    --buttonHover: #1877f2;
    --buttonCancel: #e4e6eb;
    --textButtonCancel: #4b4f56;
}
/*header*/
body .divAll > div.divHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--backgroundBox);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

body .divAll > div.divHeader > div.divHeaderLeft > p{
    color: var(--colorOfFriendZone);
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
body .divAll > div.divHeader > div.divHeaderRight{
    display: flex;
    gap: 10px;
    align-items: center;
}
body .divAll > div.divHeader > div.divHeaderRight input{
    border-radius: 5px;
    font-size: 17px;
    padding-left: 14px;
    padding-right: 14px;
    outline: none;
    height: 40px;
    border: 1px solid #ced0d4;
}
body .divAll > div.divHeader > div.divHeaderRight input:focus{
    border: 1px solid var(--colorOfFriendZone);
}
#pButtonLogin{
    background-color: var(--colorOfFriendZone);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
}
#pButtonLogin:hover{
    background-color: var(--buttonHover);
}
/*header*/

/*main*/
body > div.divMain{
    height: calc(100vh - 70px);
    width: fit-content;
}
body div.divMain > div.divBox{
    display: flex;
    flex-direction: column;
    width: 40vw;
    position: absolute;
    left: calc(30vw);
    background-color: var(--backgroundBox);
    top: calc(25vh);
    gap: 10px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
body div.divMain .divLine{
    width: 100%;
    height: 1px;
    background-color: var(--borderInput);
}

body div.divMain .divBoxChild1{
    margin-left: 30px;
    margin-right: 30px;
}

#pTitle{
    font-weight: 600;
    font-size: 20px;
}

#pDecription{
    font-size: 18px;
}

#inputForAll{
    border-radius: 5px;
    font-size: 17px;
    padding-left: 14px;
    padding-right: 35px;
    outline: none;
    height: 55px;
    border: 1px solid #ced0d4;
}
#inputForAll:focus{
    border: 1px solid var(--colorOfFriendZone);
}

body div.divMain .divContainButton{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-right: 30px;
}

body div.divMain .divContainButton p{
    padding: 8px 20px;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
}

#pCancel{
    background-color: var(--buttonCancel);
    font-size: 15px;
    color: var(--textButtonCancel);
    font-weight: 600;
}
#pError{
    margin-left: 30px;
    font-size: 13px;
    color: red;
    transform: translateY(-10px);
}

#pContinue{
    font-size: 15px;
    background-color: var(--colorOfFriendZone);
    color: white;
    font-weight: 700;
}

#imgError{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 40px;
    top: 170;
}

/*spinner*/
body .divContainSpinner{
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--backgroundBox);
}
body .divContainSpinner .spinner-border{
    color: var(--colorOfFriendZone);
}
#pTextSpinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
/*spinner*/