<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FriendZone - ForgotPassword</title>
        <!--css-->
        <link rel="stylesheet" href="../css/ForgotPassword/ForgotPassword.css"/>
        <!--fontawesome-->
        <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/fontawesome.css">
        <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/brands.css">
        <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/solid.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!--thymeleaf-->
        <html xmlns:th="http://www.thymeleaf.org">
    </head>
   <body>
        <div class="divAll">
    <!--header-->
            <div class="divHeader">
                <div class="divHeaderLeft">
                    <p>FriendZone</p>
                </div>
                <div class="divHeaderRight">
                    <input type="text" id="inputEmailLogin" placeholder="Email:">
                    <input type="password" id="inputPasswordLogin" placeholder="Password:">
                    <p id="pButtonLogin">Login</p>
                </div>
            </div>
    <!--main-->
            <div class="divMain">
                <div class="divBox">
                    <p id="pTitle" class="divBoxChild1">Find Your Account</p>
                    <div class="divLine"></div>
                    <p id="pDecription" class="divBoxChild1">Please enter your email to search for your account.</p>
                    <input type="text" class="divBoxChild1" id="inputForAll" placeholder="Email:">
                    <p id="pError" style="display: none;">The email that you've entered is incorrect.</p>
                    <div class="divLine"></div>
                    <div class="divContainButton">
                        <p id="pCancel">Cancel</p>
                        <p id="pContinue">Continue</p>
                    </div>
                    <img style="display: none;" id="imgError" src="../Img/ImgErrorInput.png" alt="">
                </div>
            </div>
        </div>
        <div class="divContainSpinner" style="display: none;">
            <div class="spinner-border" role="status" style="">
                
            </div>
            <i class="fa-solid fa-check" style="padding: 4px 5px; border-radius: 50%; background-color: #42b72a; color: white; display: none;"></i>
            <p id="pTextSpinner">Code is being sent...</p>
        </div>
        <script src="../js/ForgotPassword/VariableDeclaration.js"></script>
        <script src="../js/ForgotPassword/GeneralEvent.js"></script>
        <script src="../js/ForgotPassword/continueEmail.js"></script>
        <script src="../js/ForgotPassword/continueCode.js"></script>
        <script src="../js/ForgotPassword/continueNewPassword.js"></script>
   </body>
</html>